footer{
   background: var(--background-beige);
}

.footer{
   max-width: 1440px;
   margin: auto;
   padding: 40px 15px;
}

.socials{
   display: flex;
   align-items: center;
   gap: 50px;
}

.socials svg{
   width: 30px;
}

footer img{
   max-width: 100px;
   height: 100px;
   object-fit: contain;
}

footer article{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* Responsive mobile */

@media screen and (max-width:767px) {
   footer article{
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      text-align: center;
   }
   footer .socials{
      justify-content: center;
      margin-bottom: 15px;
   }
   
}