header{
   position: sticky;
   top: 0;
   background: #fafafaf7;
   z-index: 1000;
}

header div{
   max-width: 1440px;
   display: flex;
   gap: 50px;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   padding: 0 15px;
}

header ul{
   list-style: none;
   display: flex;
   align-items: center;
   padding: 0;
}

header li a{
   padding: 10px 20px;
   font-weight: 600;
}

header li a:hover{
   color: var(--primary-blue);
}

header img{
   max-width: 100px;
   height: 100px;
   object-fit: contain;
}

header button{
   background: none;
   border: 1px solid var(--primary-blue);
   color: var(--primary-blue);
   padding: 12px 24px;
   border-radius: 5px;
   font-family: var(--open);
   font-weight: 600;
   font-size: 16px;
}

header button:hover{
   background: #1E96FC1A;
   cursor: pointer;
}

#burger-menu{
   display: none;
}

/* Responsive */

@media screen and (max-width:1024px) {
   .desktop-nav{
      display: none;
   }
   #burger-menu{
      display: block;
      
   }
}

/* Burger Menu */

#burger-menu{
   color: var(--secondary-red);
   width: 32px;
   height: 32px;
   padding: 0;
   border: none;
}

#burger-menu:hover{
   background: none;
}

.active{
   display: block;
   position: absolute;
   right: 0;
   top: 100px;
   background: var(--primary-blue);
   width: 100%;

   ul{
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      text-align: start;
   }
   a,button{
      color: var(--background-white);
   }
   a:hover,
   button:hover{
      color: var(--background-white);
   }
   li{
      width: 100%;
   }
}

/* ... Vos styles existants ... */

.mobile-nav {
   position: absolute;
   right: 0;
   top: 100px;
   background: var(--primary-blue);
   width: 100%;
 }
 
 .mobile-nav ul {
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   text-align: start;
 }
 
 .mobile-nav a,
 .mobile-nav button {
   color: var(--background-white);
 }
 
 .mobile-nav a:hover,
 .mobile-nav button:hover {
   color: var(--background-white);
 }
 
 .mobile-nav li {
   width: 100%;
 }
 
 @media screen and (min-width: 1025px) {
   .mobile-nav {
     display: none;
   }
 }
 